<!-- Validation failure messages -->
<% if @designer.errors.any? %>
  <% @designer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Designer #<%= @designer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_designer/<%= @designer.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @designer.first_name %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @designer.last_name %>">
      </div>

      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @designer.email %>">
      </div>

      <!-- Label and input for company_id -->
      <div class="form-group">
        <label for="company_id" class="control-label">
          Company
        </label>

        <input type="text" id="company_id" name="company_id" placeholder="Company" class="form-control" value="<%= @designer.company_id %>">
      </div>

      <!-- Label and input for role -->
      <div class="form-group">
        <label for="role" class="control-label">
          Role
        </label>

        <input type="text" id="role" name="role" placeholder="Role" class="form-control" value="<%= @designer.role %>">
      </div>

      <button class="btn btn-warning">
        Update Designer
      </button>
      or
      <a href="/designers/<%= @designer.id %>">Cancel</a>
    </form>
  </div>
</div>
