<div class="row">
  <div class="col-md-4 dark-body">
    <h2 class="hello">Hello Nick,</h2>
    <h2 class="intro">What can we create today?</h2>
    <div style="margin-bottom:50px;"> <a href="/projects/new/" class="blue-btn-lg">New Project</a></div>
  </div>
  <div class="col-md-8 light-body">
    <h1 class="page-title">My Projects</h1>
    <table class="table table-hover projects-table">
      <tr>
      </tr>

      <% @projects.each do |project| %>

    <%  if project.status == "Completed" %>
  <%       status_label = "success" %>
  <%     elsif project.status == "In Progress" %>
  <%       status_label = "warning" %>
<%       else %>
<%         status_label = "default" %>
<%       end %>


      <tr>
        <td style="width: 100px;"><a href="/projects/<%= project.id %>"><span class="label label-<%= status_label %>"><%= project.status %></span></td></a>
        <td><a href="/projects/<%= project.id %>" class="table-name"><%= project.title %></td><a>
        <td style="text-align: right;"><a href="/projects/<%= project.id %>"><%= project.hours_used.to_i %> hours</td></a>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
</div>
