<div class="page-header">
  <h3>File #<%= @file.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Project</dt>
      <dd><%= @file.project_id %></dd>

      <dt>Name</dt>
      <dd><%= @file.name %></dd>

      <dt>Description</dt>
      <dd><%= @file.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/files" class="btn btn-primary">
        Back
      </a>
      <a href="/files/<%= @file.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_file/<%= @file.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
